/.svn
/.vs
/GreenLine/.vs
/packages
/GreenLine/bin
/GreenLine/obj
/GreenLineApi
/GreenLineDataService/.vs
/GreenLineDataService/bin
/GreenLineDataService/obj
/Publish
/SQL
/SQL_Scripts
/SQLScripts
/GreenLine/assets
/GreenLine/Uploads
/GreenLine/UploadedDocuments
/GreenLine/UploadedFiles
/GreenLine/Velzon_assets
/GreenLine/SqlServerTypes
/GreenLineDataService/SqlServerTypes
/GreenLine/Scripts
/GreenLine/App_Data
*.config
*.sql
*.lnk
*.zip
*.xml
