@{
    ViewBag.Title = "Welcome to ";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top:10px;">Welcome to <b style="color: #31ad96;">GreenLine</b></h1>
    <img src="~/assets/img/greenline_dashborad.png" style="max-width: 100%; height: 75vh;" />
</div>
