<footer class="footer" role="contentinfo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                @DateTime.Now.Year &copy; ERP by Green Line | Design & Develop by Cygnux Softtech Pvt. Ltd.
            </div>
        </div>
    </div>
</footer>
